@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* navbar styling */
.navbar {
	position: fixed;
    background: transparent;
	z-index: 2;
	width: 100%;
	min-height: 50px;
	line-height: 50px;
}
.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: white;
	font-weight: 300;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: white;
}

.nav-scroll {
	background: white;
}
.nav-scroll .navbar-nav > li > a {
	color: black;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: black;
}
.nav-scroll .active {
	position: relative;
}
/* end navbar styling */
.sec1 {
    width: 100%;
    height: 600px;
    z-index: -1;
    background-image:
    linear-gradient(to bottom, rgba(233, 56, 11, 0.411), rgb(250, 141, 39)),
    url(bg1.jpg);
}
.imgSec1{
    position: absolute;
    z-index: 1;
    margin-left: 15%;
    margin-top: 1%;
}
.text-overlay{
    width: 40%;
    height: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: 15%;
    margin-left: 30%;
}
.buttonSec1 {
    padding: 10px 20px;
    background: red;
    border: none;
    border-radius: 100px 100px 100px 100px;
}


.sec2{
    width: 60%;
    height: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.sec3{
    font-family: "Poppins", sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
}
.sec3Section{
    float: left;
    width: 50%;
    margin-right: 1%;
}
.sec3Aside{
    float: left;
    width: 50%;
    margin-left: 1%;
}
.sec3Button{
    border: none;
    background-color: orange;
    padding: 12px 48px 12px 24px;
    border-radius: 4px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    cursor: pointer;
}

.sec5{
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: antiquewhite;
    box-sizing: border-box;
    float: left;
    flex: 28%;
    max-width: 28%;
    margin: 1%;
    padding: 2%;
    text-align: center;
}

.box i{
    font-size: 40px;
	color: #ffaf53;
}

.box hr{
    width: 40px;
}


@media (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

.sec9{
    margin-top: 5%;
    width: 100%;
    height: 600px;
    z-index: -1;
    background-image:
    linear-gradient(to bottom, rgba(48, 48, 27, 0.52), rgba(48, 26, 25, 0.73)),
    url(bg1.jpg);
}

.sec9 .text-overlay i{
    font-size: 40px;
	color: #da1d10e5;
}

.carousel-item i{
    font-size: 40px;
	color: #f10e0e;
}

.carousel-item-styling{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.contact{
    font-family: "Poppins", sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
}
.hr1 {
    height: 1px;
    width: 200px;
    background: #05090c;
    background-image: linear-gradient(to right, rgb(218, 13, 13), #e01b1b, #ccc);
}

.section-title-line {
	background: #ececec;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: #ab2f52;
	bottom: -1px;
	content: "";
	height: 2px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}

@media (max-width: 800px) {
    .sec3 {
        flex-direction: column;
    }
    .sec3 .sec3Section{
        width: 100%;

    }
    .sec3 .sec3Aside{
        margin-top: 4%;
        width: 100%;
    }
}

@media (max-width: 950px) {
    .sec5 .box{
        flex: 100%;
        max-width: 100%;
    }
}

.info-box {
	position:relative;
	padding-bottom:30px;
}
.info-box .icon {
	display:inline-block;
	width: 30px;
}
.info-box .icon i {
	font-size: 20px;
	color: #aa0f3d;
}
.info-box .content {
	display:inline-block;
	margin-left:10px;
}
.contact-form input, .contact-form textarea {
	border: none;
	border-bottom: 1px solid #1c1c1c;
	border-radius: 0;
	padding: 10px 10px 10px 0;
	margin-bottom: 20px;
	font-size: 14px;
	width:100%;
}

/* Image Gallery Styling */
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #f00b0b;
}

.card{
    position: relative;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

/* End Image Gallery Styling */

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
